@import "~bootstrap/scss/bootstrap";

.icons-config{
  font-family: 'Amatic SC', cursive;
  font-size: calc(14px + 1vw);
  @include transition (all, 2s, ease);

  &:hover{
    font-size: calc(24px + 1vw);
    cursor: pointer;
  }
}

.navbar-config{
  height: 200px;
}

/*********************************************/
.pic-align-config{
  display: flex;
  justify-content: center;
  align-items: center;
}


.profile-pic-config{
  width:calc(15em + 1.5vw);
  height: calc(15em + 1.5vw);
  object-fit: fill;
}

/*****************************/

.arc-pos-config , .profile-pic-config{
  margin-top: calc(30px + 2vw);
}

/*******************************************/

.acc-title-config{
  font-family: 'Amatic SC', cursive;
  background-color: white;
}

.desc-text-config{
  font-family: 'Play', sans-serif;
  font-size: calc(10px + 0.5vw);
  background-color: #F5F5F5;
}

/***********************************************/

.prof-footer-config{
  margin-top: calc(50px + 1vw);
}

.global-class-name{
  margin-right: calc(10px + 0.5vw);
}

.social-icons-config > a {

  &:link , &:visited{
    color: black;
  }

  &:active{
    color: black;
  }

  &:hover{
    color: gray;
    cursor: pointer;
  }
}
